.square > div:nth-child(1) {
  background-color: yellow
}
.square > div:nth-child(1) {
  background-color: orange
}
.square > div:nth-child(1) {
  background-color: red
}
.square > div:nth-child(1) {
background-color: blue
}
