

  <div class="square">

      <div>
        {{ content.squareLeftTop }}
      </div>


      <div>
        {{ content.squareRightTop }}
      </div>


      <div>
        {{ content.squareLeftBottom }}
      </div>


      <div>
        {{ content.squareRightBottom }}
      </div>

  </div>
